workflows/VV2ZMSVxO8UBzbMw.json
{
  "id": "VV2ZMSVxO8UBzbMw",
  "name": "Philip_Test_Simplified",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "507a8a88-0620-408a-92af-e5592ac61bf7",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "9ddSbrhqf9zxREDk",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-1",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "field-2",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "field-3",
              "name": "bodyPreview",
              "value": "={{ $json.bodyPreview }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "b501d68c-efdf-4576-af92-9c72be943ac8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "from",
              "value": "={{ $json.from }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "b8cc5a22-30b5-46cf-b5d9-3912b673de81",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "f37e1f2e-4647-4bcc-bb6f-e234f955d71b",
  "owner": {
    "type": "team",
    "teamId": "IyVUbjJH6JrnBuqv",
    "teamName": "My project 4"
  },
  "parentFolderId": null,
  "isArchived": false
}